In [2]:
import pandas as pd

In [54]:
df= pd.read_csv("c:\_prj\cfxbot\log-order.csv")
df.head()

,id,diff,max_price,p_n_EU,p_o_EU,p_n_EU_N,p_o_EU_N,p_n_USA,p_o_USA,p_n_USA_E,p_o_USA_E
0,1,1.51692,2.119579,1.9045,0.0,1.9183,0.0,1.9938,0.0,1.9689,0.0
1,2,1.51692,2.119579,1.9051,0.0,1.9189,0.0,1.9944,0.0,1.9695,0.0
2,3,1.51692,2.117300,1.8818,0.0,1.8930,0.0,1.9734,0.0,1.9421,0.0
3,4,1.51692,2.117300,1.8792,0.0,1.8889,0.0,1.9555,0.0,1.9413,0.0
4,5,1.51692,2.117300,1.8792,0.0,1.8889,0.0,1.9555,0.0,1.9413,0.0

In [7]:
%matplotlib

Using matplotlib backend: Qt5Agg

In [55]:
df.plot(x="id", y=["diff","max_price","p_n_EU","p_o_EU"])#,"p_n_EU_N","p_o_EU_N","p_n_USA","p_o_USA","p_n_USA_E","p_o_USA_E"])